.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  color: aliceblue;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 5.67em;
  --top-offset: 77.63vh;
  --fall-duration: 7.178s;
  --fall-delay: 7.33s;
}
.star:nth-child(2) {
  --star-tail-length: 5.99em;
  --top-offset: 30.96vh;
  --fall-duration: 9.244s;
  --fall-delay: 9.949s;
}
.star:nth-child(3) {
  --star-tail-length: 7.33em;
  --top-offset: 97.29vh;
  --fall-duration: 10.764s;
  --fall-delay: 0.156s;
}
.star:nth-child(4) {
  --star-tail-length: 6.52em;
  --top-offset: 60.55vh;
  --fall-duration: 8.633s;
  --fall-delay: 4.38s;
}
.star:nth-child(5) {
  --star-tail-length: 6.4em;
  --top-offset: 41.87vh;
  --fall-duration: 6.21s;
  --fall-delay: 1.417s;
}
.star:nth-child(6) {
  --star-tail-length: 5.4em;
  --top-offset: 45.49vh;
  --fall-duration: 7.987s;
  --fall-delay: 8.108s;
}
.star:nth-child(7) {
  --star-tail-length: 5.2em;
  --top-offset: 27.4vh;
  --fall-duration: 7.316s;
  --fall-delay: 2.174s;
}
.star:nth-child(8) {
  --star-tail-length: 5.02em;
  --top-offset: 43.35vh;
  --fall-duration: 11.426s;
  --fall-delay: 8.71s;
}
.star:nth-child(9) {
  --star-tail-length: 7.5em;
  --top-offset: 94.57vh;
  --fall-duration: 6.268s;
  --fall-delay: 3.647s;
}
.star:nth-child(10) {
  --star-tail-length: 5.87em;
  --top-offset: 74.62vh;
  --fall-duration: 11.692s;
  --fall-delay: 6.137s;
}
.star:nth-child(11) {
  --star-tail-length: 6.07em;
  --top-offset: 20.36vh;
  --fall-duration: 11.371s;
  --fall-delay: 7.564s;
}
.star:nth-child(12) {
  --star-tail-length: 5.86em;
  --top-offset: 33.71vh;
  --fall-duration: 11.03s;
  --fall-delay: 2.913s;
}
.star:nth-child(13) {
  --star-tail-length: 5.17em;
  --top-offset: 52.46vh;
  --fall-duration: 6.259s;
  --fall-delay: 9.194s;
}
.star:nth-child(14) {
  --star-tail-length: 5.61em;
  --top-offset: 75.34vh;
  --fall-duration: 8.823s;
  --fall-delay: 6.993s;
}
.star:nth-child(15) {
  --star-tail-length: 6.35em;
  --top-offset: 40.47vh;
  --fall-duration: 7.454s;
  --fall-delay: 1.137s;
}
.star:nth-child(16) {
  --star-tail-length: 6.54em;
  --top-offset: 92.67vh;
  --fall-duration: 8.686s;
  --fall-delay: 8.11s;
}
.star:nth-child(17) {
  --star-tail-length: 7.09em;
  --top-offset: 78.69vh;
  --fall-duration: 9.043s;
  --fall-delay: 4.331s;
}
.star:nth-child(18) {
  --star-tail-length: 6.13em;
  --top-offset: 54.37vh;
  --fall-duration: 6.508s;
  --fall-delay: 0.238s;
}
.star:nth-child(19) {
  --star-tail-length: 6.83em;
  --top-offset: 59.73vh;
  --fall-duration: 10.837s;
  --fall-delay: 9.645s;
}
.star:nth-child(20) {
  --star-tail-length: 6.8em;
  --top-offset: 4.12vh;
  --fall-duration: 7.546s;
  --fall-delay: 0.932s;
}
.star:nth-child(21) {
  --star-tail-length: 5.95em;
  --top-offset: 54.71vh;
  --fall-duration: 10.684s;
  --fall-delay: 5.829s;
}
.star:nth-child(22) {
  --star-tail-length: 6.07em;
  --top-offset: 28.21vh;
  --fall-duration: 7.86s;
  --fall-delay: 1.186s;
}
.star:nth-child(23) {
  --star-tail-length: 5.84em;
  --top-offset: 49.87vh;
  --fall-duration: 8.119s;
  --fall-delay: 3.318s;
}
.star:nth-child(24) {
  --star-tail-length: 6.14em;
  --top-offset: 58.25vh;
  --fall-duration: 11.462s;
  --fall-delay: 2.485s;
}
.star:nth-child(25) {
  --star-tail-length: 6.83em;
  --top-offset: 63.26vh;
  --fall-duration: 9.638s;
  --fall-delay: 0.854s;
}
.star:nth-child(26) {
  --star-tail-length: 6em;
  --top-offset: 38.69vh;
  --fall-duration: 11.185s;
  --fall-delay: 2.598s;
}
.star:nth-child(27) {
  --star-tail-length: 7.27em;
  --top-offset: 48.32vh;
  --fall-duration: 9.426s;
  --fall-delay: 4.479s;
}
.star:nth-child(28) {
  --star-tail-length: 5.99em;
  --top-offset: 89.8vh;
  --fall-duration: 8.579s;
  --fall-delay: 4.131s;
}
.star:nth-child(29) {
  --star-tail-length: 7.48em;
  --top-offset: 61.69vh;
  --fall-duration: 11.85s;
  --fall-delay: 5.539s;
}
.star:nth-child(30) {
  --star-tail-length: 6.75em;
  --top-offset: 26.13vh;
  --fall-duration: 8.445s;
  --fall-delay: 3.97s;
}
.star:nth-child(31) {
  --star-tail-length: 7.46em;
  --top-offset: 2.03vh;
  --fall-duration: 11.151s;
  --fall-delay: 4.171s;
}
.star:nth-child(32) {
  --star-tail-length: 6.36em;
  --top-offset: 70.02vh;
  --fall-duration: 8.19s;
  --fall-delay: 1.865s;
}
.star:nth-child(33) {
  --star-tail-length: 6.21em;
  --top-offset: 40.4vh;
  --fall-duration: 9.624s;
  --fall-delay: 5.732s;
}
.star:nth-child(34) {
  --star-tail-length: 5.62em;
  --top-offset: 57.33vh;
  --fall-duration: 10.048s;
  --fall-delay: 3.517s;
}
.star:nth-child(35) {
  --star-tail-length: 6.8em;
  --top-offset: 72.41vh;
  --fall-duration: 9.061s;
  --fall-delay: 0.644s;
}
.star:nth-child(36) {
  --star-tail-length: 6.46em;
  --top-offset: 55.14vh;
  --fall-duration: 8.685s;
  --fall-delay: 6.42s;
}
.star:nth-child(37) {
  --star-tail-length: 7.05em;
  --top-offset: 92.33vh;
  --fall-duration: 8.076s;
  --fall-delay: 1.466s;
}
.star:nth-child(38) {
  --star-tail-length: 5.64em;
  --top-offset: 93.77vh;
  --fall-duration: 9.492s;
  --fall-delay: 2.28s;
}
.star:nth-child(39) {
  --star-tail-length: 5.96em;
  --top-offset: 65.56vh;
  --fall-duration: 10.184s;
  --fall-delay: 2.104s;
}
.star:nth-child(40) {
  --star-tail-length: 5.3em;
  --top-offset: 1.35vh;
  --fall-duration: 9.963s;
  --fall-delay: 5.62s;
}
.star:nth-child(41) {
  --star-tail-length: 7.43em;
  --top-offset: 13.01vh;
  --fall-duration: 9.184s;
  --fall-delay: 3.893s;
}
.star:nth-child(42) {
  --star-tail-length: 7.27em;
  --top-offset: 5.98vh;
  --fall-duration: 10.135s;
  --fall-delay: 0.682s;
}
.star:nth-child(43) {
  --star-tail-length: 6.88em;
  --top-offset: 35.59vh;
  --fall-duration: 7.378s;
  --fall-delay: 6.794s;
}
.star:nth-child(44) {
  --star-tail-length: 6.33em;
  --top-offset: 36.48vh;
  --fall-duration: 11.97s;
  --fall-delay: 6.304s;
}
.star:nth-child(45) {
  --star-tail-length: 5.55em;
  --top-offset: 38.2vh;
  --fall-duration: 6.121s;
  --fall-delay: 4.227s;
}
.star:nth-child(46) {
  --star-tail-length: 5.08em;
  --top-offset: 77.88vh;
  --fall-duration: 6.781s;
  --fall-delay: 4.891s;
}
.star:nth-child(47) {
  --star-tail-length: 5.37em;
  --top-offset: 56.25vh;
  --fall-duration: 10.532s;
  --fall-delay: 4.632s;
}
.star:nth-child(48) {
  --star-tail-length: 5.44em;
  --top-offset: 19.81vh;
  --fall-duration: 11.208s;
  --fall-delay: 4.608s;
}
.star:nth-child(49) {
  --star-tail-length: 7.35em;
  --top-offset: 24.05vh;
  --fall-duration: 10.944s;
  --fall-delay: 6.643s;
}
.star:nth-child(50) {
  --star-tail-length: 6.97em;
  --top-offset: 58.7vh;
  --fall-duration: 7.033s;
  --fall-delay: 1.856s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}