/* --- Fonts ---*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* ----- Variables  ----- */
:root {
    --main-color: white;
    --blue: #0000ff;
    --blue-dark: #18293c;
    --orange: #ffa500;
    --green-yellow: #cddc39;
    --pink-light: #a2dcef;
    --cyan-light: #f1aeae;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --backdrop-filter-blur: blur (5px);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: black;
    font-family: 'Poppins' , sans-serif;
    font-weight: 300;
    font-size :16px;
    color: white;
    Line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px;
}

body::before{
    content: '';
    position: fixed;
    Left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.12;
}

.cursor {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    position: absolute;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 2;
}

.cursor::after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    border: 10px solid rgb(0, 47, 255);
    border-radius: 50%;
    opacity: .5;
    top: -8px;
    left: -8px;
    animation: cursorAnim2 .5s infinite alternate;
}

@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim2 {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.4);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(3);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid white;
}
video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
  }

a{
    text-decoration: none;
}

h1, h2 {
    font-weight: 600;
}

h3 , h4 , h5 , h6 {
    font-weight: 500;
}

img {
   max-width: 100%;
   vertical-align: middle;
}

section {
    background-color: rgba(0, 0, 0, 0.419);
    border: 1px solid rgba(255, 255, 255, 0.40);
    min-height: 90vh;
    border-radius: 30px;
    backdrop-filter: blur(10px);
}

.main{
    max-width: 1200px;
    margin: auto;
 }

.container{
    padding: 0 40px;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.align-items-center{
    align-items: center;
}

/* Custom Scrollbar */
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background-color: black;
}

::-webkit-scrollbar-thumb{
    background-color: white;
}

.btn {
    line-height: 1.5;
    background-color: none;
    border: 1px solid white;
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    user-select: none;
    position: relative ;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before {
    content: ' ';
    position: absolute;
    Left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: white;
    z-index: -1;
    transition: width 0.3s ease;
}

.btn:hover::before{
    width: 100%;
}

.btn:hover{
    color: black;
}

.home-section{
    display: flex;
}

.home-text{
   width: 50%;
   padding: 15px;
}

.home-img{
    width: 50%;
    padding: 15px;
 }

.home-text p{
    font-size: 18px;
}
 .home-text h1{
    font-size: 50px;
    text-transform: capitalize;
}
.home-text h2 {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
}

.home-text .btn{
    margin: 0 15px 15px 0;
}